body{
    background-color: rgb(149, 147, 158);
    font-family:  'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.container-flex{
    display: flex;
    text-align: center;
    justify-content: center;
}
.center-div{
    margin-right: 15vw;
    
}
input{
    border-radius: 7px;
    margin: 15px;
    height: 25px
}
ul{
    text-align: center;
    list-style: none;
}